!High dpi adjustments
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.hintstyle: hintfull
Xft.dpi: 150


!set font
URxvt.font: xft:monospace:size=12
URxvt.letterSpace: -1

!deactivate scrollbar
URxvt.scrollBar: false

!space around lines
urxvt.internalBorder: 5

!set to 32-bit for real transparency (compositing required)
urxvt.depth: 32

!set scollbackbuffersize in lines
urxvt.saveLines: 32767

!jump to bottom on keypress
urxvt.scrollTtyKeypress: true

!jump to bottom on new tty-line
urxvt.scrollWithBuffer: false

!jump to bottom on new tty-output
urxvt.scrollTtyOutput: false

!login shell
urxvt.loginShell: true

! set TERM enviroment variable
urxvt.terName: rxvt-unicode

!set where double mouse click automaticly ends
urxvt.cutchars: "()*,<>[]{}|'

!set transpaerzie transparent=0000 opaque=ffff
urxvt.background: rgba:0000/0000/0000/8888

!?
urxvt.mapAlert: true

!?
urxvt.utmpInhibit: ture



!urlLauncher settings
urxvt.perl-lib: /usr/lib/urxvt/perl/
urxvt.perl-ext-common: default,matcher
urxvt.urlLauncher: /usr/bin/firefox
urxvt.machter.button: 1
!urlLauncher settings



!Color settings


!set color of the cursor (where you type'n stuff)
urxvt.cursorColor: #ffcc00

! tangoesque scheme
 *background: #111111
 *foreground: #babdb6

!Black (not tango) + DarkGrey
 *color0:  #000000
 *color8:  #555753

!DarkRed + Red
 *color1:  #8d0000
 *color9:  #e83333

!DarkGreen + Gren
 *color2:  #175b16
 *color10: #89d03f

!DarkYellow + Yellow
 *color3:  #c08a00
 *color11: #ffbb0f

!DarkBlue + Blue
 *color4:  #244672
 *color12: #4874ad

!DarkMagenta + Magenta
 *color5:  #ce5c00
 *color13: #f57900

!DarkCyan + Cyan (both not tango)
 *color6:  #89b6e2
 *color14: #46a4ff

!LightGrey + White
 *color7:  #cccccc
 *color15: #ffffff
